<p>The Queensland Environmental Science Data (QESD) catalogue performs a series of automated checks on records in the system to maintain data quality.</p>

<p>The following datasets/data services for which you are the Point of Contact have URL/URIs that could not be validated because they are either invalid or represent internal URL/URIs. These URL/URIs could be to other linked resources or online resources for your dataset/data service.</p>

<p>Please review the affected datasets/data services and update any invalid URL/URIs.</p>

<p>The affected datasets/data services are:</p>
<ul>
    {% for dataset in datasets %}
        <li><a href="{{dataset.get('url')}}">{{dataset.title}}</a></li>
    {% endfor %}
</ul>